form{
    padding: 12px;
    margin: 12px;
    border: solid 1px;
    width: min-content;
    background-color: greenyellow;
}
label{
    display: inline-block;
}
button{
    background-color: white;
    border: solid 1px;
    margin-top: 5px;
}
#Avtorizition{
    width: 100%;
    transform: scale(1);
}
button:hover{
    background-color: red;
    transform: scale(1.1);
}